<!DOCTYPE html>
<html>
    <head>
        <title>DCE CODER SQUAD</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="/img/logo-2.png" type="image/x-icon">
       
        <link rel="stylesheet" href="css/index.css"> 
    </head>
    
        <body>

            <div id="preloader">
    
            </div>

    <div class="" style="width: 100%;height: 100vh;">

        <nav class="navbar" style="min-height:5vh;background-color: #212121;">
            <div class="container-fluid">

              <a class="navbar-brand text-white" href="#">
                Coders Squad
              </a>
              <div class="navbar-text gap-3">
                <a href="/main" class="btn-login btn" >Login</a> 
                <a href="/main" class="ms-2 btn-signup btn">Signup</a>
            </div>
            </div>
          </nav>
<div class="d-flex align-items-center hero-box justify-content-evenly  gap-3" style="height: 90vh;background: #63c29c;">             
    <div class="d-flex align-items-center justify-center flex-column">
        <img src="img/logo.png" style="width: 200px; height: 200px;" alt="logo">
        <span class="align-items-center d-flex flex-column justify-content-center gap-0" >
            <h1 class="text-white" style="font-size: 48px;text-shadow: 0 0 10px #212121a1;" >CODER'S SQUAD</h1>
        <p class="lead" ></p>
        <a class="btn btn-dark btn-lg" href="/main" >Get Started</a>
        </span>
    </div>
    <span class="illustartion">
         
        <object height="500px" width="500px" id="my-svg" type="image/svg+xml" data="img/main-ani.svg"></object>
    </span>

</div>

   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.0/typed.min.js" integrity="sha512-zKaK6G2LZC5YZTX0vKmD7xOwd1zrEEMal4zlTf5Ved/A1RrnW+qt8pWDfo7oz+xeChECS/P9dv6EDwwPwelFfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            var loader = document.getElementById("preloader");
	 addEventListener('load',()=>{
		loader.style.display ='none';
	 });
        </script>

    
        <script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
        <script src="/index.js"></script>
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/63da9660474251287910eefa/1go6tmqtb';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
            </script>
            <script>
   
  var typed3 = new Typed('.lead', {
    strings: ['Developing Developers', 'Oppurtunity for Tomorrow', 'Discipline , Character and Education','Developing Developers'],
    typeSpeed: 80,
    backSpeed: 80,
    cursorChar: "",
    smartBackspace: true, 
    loop: true
  });
            </script>
          

<script src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>
<script>
    new Vivus('my-svg', { duration: 200 }, myCallback);
  </script>
        </body>
    </html>

