body{
    margin: 0;
    padding:0;
    background-color:#002d59 ;
}
a{
	text-decoration: none;
}
.dce{
	width: 100%;
	min-height: 500px;
	height: auto;
    background-color:#002d59 ;
    color:white;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-family: 'Noto Serif Ahom', serif;
    gap: 10px;

}
.dce h1{
    font-size: 70px;
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;
}

.container p{
    font-size: 20px;
	width: 80%;
}
.pc{
    background-color:#002d59 ;
    color:white;
    display: flex;
    flex-direction:column;
    align-items:center;
font-family: 'Noto Serif Ahom', serif;
}
.pc h1{
    font-size: 60px;
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;


}

.pcl{
    width:80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.pcl p{
    font-size:27px ;
}
.cs{
    background-color:#002d59 ;
    color:white;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:column;
font-family: 'Noto Serif Ahom', serif;
}
.cs h1{
    font-size: 70px;
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;

}
.cs1{
    width:80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cs1 p{
    font-size:25px ;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-track{
 background-color: #21212160;

}
::-webkit-scrollbar-thumb{
	background-color: #002d59;
	/* border-radius: 20%; */
	transition: 0.5s ease;
}

*{
	font-family: 'DM Sans', sans-serif;	
}
body{
	margin: 0;
	padding: 0;
}
.navbar{
width: 100%;
height: 120px;	
background-color: #1079e1;	
/* border-bottom: 10px solid #ffcc00; */
}
.nav-link{
	text-transform: uppercase;
}
.dropdown-menu{
	background-color: #ecc940 !important;
}
.dropdown-item:hover{
	background-color: #1079e1 !important;
	color: #fff !important;
}
.greet{
	display: flex;
	height: 40px;
	background-color: #ecc940;
}
.carousel-item{
	height: 500px !important;
}
.carousel-item img{
	filter: brightness(60%);

}
.webdev{
	background-color:#e7e7e7;
	background-image: url(assests/img/bg.png);
	background-size: cover;
}
.webdev h1{
	font-family: 'Bebas Neue', cursive;
	color: #21212180;
	font-size: 4rem;		
}
.webdev b{
	font-family: 'Bebas Neue', cursive;
	font-weight: 500;
}
.f{
	color: #63c29c;
}
.b{color:#002d59;}
.front{
	animation: 2s shadow2 infinite alternate;
}
.backend{
	animation: 2s shadow infinite alternate;
}
.fullstack{
	background-color: #002d59;
	color: #fff;
	border-bottom: 10px #63c29c solid;
	border-top: 10px #63c29c solid;
}

.fullstack h3{
	color: #e7e7e7;
	font-family: 'Lexend', sans-serif;
}
.fullstack p{
	font-family: 'Indie Flower', cursive;	
}

.card{
	box-shadow:5px 5px 10px #21212150;
}
.card-title{
	color: #002d59 !important;
	font-weight: 700;
	font-family: 'Lexend', sans-serif;
}
.webcard{
	background-color: #63c29c;
	color: #fff !important;
}
.javacard{
	background-color: #63c29c;
	color: #fff !important;
}
.pythoncard{
	background-color: #63c29c;
	color: #fff !important;
}
.ccard{
	background-color: #63c29c;
	color: #fff !important;
}
.cpluscard{
	background-color: #63c29c;
	color: #fff !important;
}
.dbmscard{
	background-color: #63c29c;
	color: #fff !important;
}
.coderssquad{
	width: 100%;
	height: 500px;
}
.coderssquad img{
	transition: 0.3s;
	filter: brightness(80%);
	box-shadow: 20px 20px #7af3c3;
}
.coderssquad img:hover{
	transition: 0.3s;
	filter: brightness(100%);
}

.text-start{
	font-family: 'Lexend', sans-serif;
	font-size: 50px !important;
	color: #002d59;
}

.content p{
	font-family: 'Lexend', sans-serif;
}

.courses{
	width: 100%;
	height: 500px;
}
.courses h1{
    font-family: 'Lexend', sans-serif;	
}

@keyframes shadow {
	from{
		box-shadow: 20px 20px #63c29c;
	}
	 
	40%{
		box-shadow: 20px 0px #63c29c;
	}
	
	80%{
		box-shadow: 0 20px #63c29c;
	}
	to{
        box-shadow: 0 0 #63c29c;
	}
}

@keyframes shadow2 {
	from{
		box-shadow: -20px -20px #002d59;
	}
	 
	40%{
		box-shadow: -20px 0px #002d59;
	}
	
	80%{
		box-shadow: 0 -20px #002d59;
	}
	to{
        box-shadow: 0 0 #002d59;
	}
}

h2{
	text-align:center;
	padding: 20px;
  }
  /* Slider */
  
  .slick-slide {
	  margin: 0px 20px;
  }
  
  .slick-slide img {
	  width: 100%;
  }
  
  .slick-slider
  {
	  position: relative;
	  display: block;
	  box-sizing: border-box;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
			  user-select: none;
	  -webkit-touch-callout: none;
	  -khtml-user-select: none;
	  -ms-touch-action: pan-y;
		  touch-action: pan-y;
	  -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
	  position: relative;
	  display: block;
	  overflow: hidden;
	  margin: 0;
	  padding: 0;
  }
  .slick-list:focus
  {
	  outline: none;
  }
  .slick-list.dragging
  {
	  cursor: pointer;
	  cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
	  -webkit-transform: translate3d(0, 0, 0);
		 -moz-transform: translate3d(0, 0, 0);
		  -ms-transform: translate3d(0, 0, 0);
		   -o-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
	  position: relative;
	  top: 0;
	  left: 0;
	  display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
	  display: table;
	  content: '';
  }
  .slick-track:after
  {
	  clear: both;
  }
  .slick-loading .slick-track
  {
	  visibility: hidden;
  }
  
  .slick-slide
  {
	  display: none;
	  float: left;
	  height: 100%;
	  min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
	  float: right;
  }
  .slick-slide img
  {
	  display: block;
  }
  .slick-slide.slick-loading img
  {
	  display: none;
  }
  .slick-slide.dragging img
  {
	  pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
	  display: block;
  }
  .slick-loading .slick-slide
  {
	  visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
	  display: block;
	  height: auto;
	  border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
	  display: none;
  }
  .recruiters{
	font-family: 'Lexend', sans-serif;
  }
  .popup{
	height: 270px;
    width: fit-content;
	background-color: #002d59;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	border-radius: 10px;
	justify-content: space-evenly;
	z-index: 10;
	position: fixed;
	border: 5px solid #63c29c;
	color: #fff;
	bottom: 80px;
	left: 20px;
  }
  .popup h4{
	font-family: 'Lexend', sans-serif;
  }