 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 *{
                font-family: 'Josefin Sans', sans-serif;
  }
            body{
                
                height: 100vh;
                
            }
            #preloader{
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	background: #101010 url("https://i.pinimg.com/originals/05/cb/41/05cb41dd40c1045ef47ee2be34147c79.gif") no-repeat center center;
	background-size: 20%;
           }

           .btn-login{
            background-color: #63c29c;
           }

           .btn-login:hover{
            background-color: #63c29c;
           }

           .btn-signup{
            border: 2px solid #63c29c;
            color: #fff !important;
           }
           .btn-signup:hover{
            background-color: #63c29c;
            color: #000 !important;
           }

       @media (min-width:320px) and (max-width:480px) {
        .hero-box{
            display: none !important;
        }
       }